<div class="hero">
  <p class="large subheader brandon">Rent Liason is live</p>
  <p class="small subheader brandon">Make your summer gateway<br>Great Again!!</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>